CONNECTION_STRING=postgresql+psycopg2://postgres:postgres@localhost:5432/dsp-game
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/dsp-game
DATA_ROOT_PATH=C:/path/to//data/data/musan/musan
S3_BUCKET=
S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=